extends: default

rules:
  line-length: disable
  document-start: disable
  trailing-spaces:
    level: off
  indentation:
    spaces: 2
    level: warning
  new-lines:
    level: warning
  empty-lines:
    level: warning