extends: default

rules:
  line-length: false
  document-start: false
  trailing-spaces: false
  indentation:
    spaces: 2
    level: warning
  new-lines:
    level: warning
  empty-lines:
    level: warning